include ../../mixins/addressSelector
include ../../mixins/personSelector
include ../../mixins/scheduleDatesSelector
include ../scheduleDates/parts/form
include ../includes/formActionButtons

extend ../layout

append javascripts
    +personSelectorInit
    +scheduleDatesSelectorInit
    script.
        $(function(){
            $('form#editEvent').form({
                inline: false,
                fields: {
                    eventName : ['empty'],
                    description: ['empty'],
                    mainPerson: ['empty'],
                    schedules: ['empty'],
                    location: ['empty']
                }
            })
            $('.ui.delete.button').click(function(){
                deleteEntry('#{data.id}')
                $.ajax({
                    url: '/api/event/#{data.id}',
                    type: 'DELETE',
                    success: function(result) {
                        window.location.replace('/admin/events/')
                    }
                })
            })
            $('#addSchedules').click(function(){
                $('#schedulesForm')
                    .modal('show')
            })
            $('.addressSelector').search(localAddressSearch)
            scheduleEventFormScripts('#{data.id}', '#{data.id}')
        })

append appContent

    - var method
    if (formMethod != 'post' && formMethod != 'get')
        - method = 'post'
    else
        - method = formMethod

    h1 Event

    form#editEvent.ui.form(method=formMethod action=formAction)

        div(style='display: none;')
            input#PreventChromeAutocomplete(type='text', name='PreventChromeAutocomplete', autocomplete='address-level4')

        .ui.raised.segment

            if (formMethod != 'post' && formMethod != 'get')
                input(type='hidden', name='_method', value=formMethod)

            .field.required
                label(for="eventName") Event Name
                input(type="text", name="name", id="eventName", value=data.name)

            .field.required
                label(for="description") Description
                textarea(type="text", name="description", id="description", rows="4")= data.description

        .ui.raised.segment

            .field.required
                label(for="location") Location
                +addressSelector("location", data._address, data.id)

        .ui.raised.segment

            .field.required
                label(for='mainPerson') Main Contact
                +personSelector('mainPerson', data._mainPerson?data._mainPerson.id:'', data._mainPerson?data._mainPerson.fullName:'')

        .ui.raised.segment

            .ui.row
                a#addSchedules.ui.right.floated.button(href='#')
                    i.icon.plus
                    | Add Schedule Day

                .field.required
                    label.ui.right.floated(for="schedules") Schedule Days

            #schedules.ui.relaxed.divided.list
                .item
                    i.large.clock.middle.aligned.icon
                    .content
                        a.header Jan 12th
                        .description 11:00am - 12:00am
                .item
                    i.large.clock.middle.aligned.icon
                    .content
                        a.header Jan 12th
                        .description 11:00am - 12:00am
                .item
                    i.large.clock.middle.aligned.icon
                    .content
                        a.header Jan 12th
                        .description 11:00am - 12:00am

        .ui.row
            +actionButtons(formMode)

        .ui.hidden.clearing.divider

        .ui.error.message


append footer
    //- Modal
    #schedulesForm.ui.modal
        .header Schedule Date
        .content

            form#editEvent.ui.form(method=formMethod action=formAction)

                div(style='display: none;')
                    input#PreventChromeAutocomplete(type='text', name='PreventChromeAutocomplete', autocomplete='address-level4')

                - if (formMethod != 'post' && formMethod != 'get')
                    input(type='hidden', name='_method', value=formMethod)

                +scheduleDayDateTime(data)

                +locationSelector(data)

        .actions
            .ui.cancel.button
                | Cancel
            .ui.primary.submit.button
                | Save