include ../../mixins/personSelector
include ../../mixins/scheduleDatesSelector
include ../../mixins/selector
include ../addresses/parts/addressFields
include ../addresses/parts/addressSelector
include ../includes/formToolbar
include ../includes/formElements

extend ../layout

append stylesheets
    link(rel="stylesheet", type="text/css", href="/lib/pickadate/themes/classic.css")
    link(rel="stylesheet", type="text/css", href="/lib/pickadate/themes/classic.date.css")
    link(rel="stylesheet", type="text/css", href="/lib/pickadate/themes/classic.time.css")

block toolbar
    +formToolbar

append javascripts
    script(src="/javascripts/scheduleDayForm.js")
    script(src='/javascripts/selector.js')
    script(src="/lib/pickadate/picker.js")
    script(src="/lib/pickadate/picker.date.js")
    script(src="/lib/pickadate/picker.time.js")

    // Local Form Scripts
    script.
        var addDays = function(date, days) {
            var result = new Date(date)
            result.setDate(result.getDate() + days)
            return result
        }

        var selectorModalsConfigs = function() {

            // Activity Selector Configuration
            var activityFormInit = function(conf) {
                console.log('taskFormInit ' + conf.modalJQID)
                $modal = $(conf.modalJQID)
                $modal.find('#startDate').pickadate()
                $modal.find('#startTime').pickatime()
                $modal.find('#endDate').pickadate()
                $modal.find('#endTime').pickatime()
                tinymce.init($.extend({ selector: conf.modalJQID + ' textarea.mde' }, tinymceConfig))
                $modal.find('.personSelector.ui.dropdown').dropdown({apiSettings: {url: '/api/persons/dropdown/results?simple=1'}})
                return false
            }
            var activitiesSelectorSettings = {
                selectorId: 'activities',
                eventId: '#{data.id}',
                maxListLength: 25,
                listUri: '#{apiUri.secure.activities.byEvent}',
                crudUri: '#{apiUri.secure.activity}',
                formUrl: '/admin/activities/modal/',
                formInitCallback: activityFormInit,
                results: [],
                rowItem: function(rowObj) { return rowObj.name + ' - ' + rowObj.startTime },
                formRules: {name:{rules:[{type:'empty'},{type:'maxLength[70]'}]},description:[{type:'maxLength[2000]'}],startTime:{rules:[{type:'empty'}]},duration:{rules:[{type:'empty'}]}}
            }
            var activitiesSelector = initSelector(activitiesSelectorSettings)

            // Meal Selector Configuration
            var mealFormInit = function(conf) {
                console.log('taskFormInit ' + conf.modalJQID)
                $modal = $(conf.modalJQID)
                $modal.find('#startDate').pickadate()
                $modal.find('#startTime').pickatime()
                $modal.find('#endDate').pickadate()
                $modal.find('#endTime').pickatime()
                tinymce.init($.extend({ selector: conf.modalJQID + ' textarea.mde' }, tinymceConfig))
                $modal.find('.personSelector.ui.dropdown').dropdown({apiSettings: {url: '/api/persons/dropdown/results?simple=1'}})
                return false
            }
            var mealsSelectorSettings = {
                selectorId: 'meals',
                eventId: '#{data.id}',
                maxListLength: 25,
                listUri: '#{apiUri.secure.meals.byEvent}',
                crudUri: '#{apiUri.secure.meal}',
                formUrl: '/admin/meals/modal/',
                formInitCallback: mealFormInit,
                results: [],
                rowItem: function(rowObj) { return rowObj.name + ' - ' + rowObj.startTime },
                formRules: {name:{rules:[{type:'empty'},{type:'maxLength[70]'}]},description:[{type:'maxLength[2000]'}],startTime:{rules:[{type:'empty'}]},duration:{rules:[{type:'empty'}]}}
            }
            var mealsSelector = initSelector(mealsSelectorSettings)

            // Task Selector Configuration
            var taskFormInit = function(conf) {
                console.log('taskFormInit ' + conf.modalJQID)
                $modal = $(conf.modalJQID)
                $modal.find('#startDate').pickadate()
                $modal.find('#startTime').pickatime()
                $modal.find('#endDate').pickadate()
                $modal.find('#endTime').pickatime()
                tinymce.init($.extend({ selector: conf.modalJQID + ' textarea.mde' }, tinymceConfig))
                $modal.find('.personSelector.ui.dropdown').dropdown({apiSettings: {url: '/api/persons/dropdown/results?simple=1'}})
                return false
            }
            var tasksSelectorSettings = {
                selectorId: 'tasks',
                eventId: '#{data.id}',
                maxListLength: 50,
                listUri: '#{apiUri.secure.tasks.byEvent}',
                crudUri: '#{apiUri.secure.task}',
                formUrl: '/admin/tasks/modal/',
                formInitCallback: taskFormInit,
                results: [],
                rowItem: function(rowObj) { return rowObj.name + ' - ' + rowObj.startTime },
                formRules: {
                    fields: {
                        name:{rules:[{type:'empty'},{type:'maxLength[70]'}]},
                        description:[{type:'maxLength[2000]'}],
                        startTime:{rules:[{type:'empty'}]},
                        duration:{rules:[{type:'empty'}]}
                    }
                }
            }
            var tasksSelector = initSelector(tasksSelectorSettings)
        }

        var mainFormInit = function() {
            var validationRules = {
                fields: {
                    eventName : ['empty'],
                    description: ['empty'],
                    mainPerson: ['empty'],
                    location: ['empty'],
                    schedules: ['empty'],
                    _contact: ['empty']
                },
                inline : false,
                keyboardShortcuts: false,
                onSuccess: function(event, fields) {
                    $.ajax({
                        type: '#{formMethod}',
                        url: '#{formAction}',
                        data: fields,
                        dataType: 'JSON',
                        statusCode: {
                            201: function(data) {
                                $.get('/message/success/' + data.message)
                            }
                        }
                    })
                    .error(function(response) {
                        console.log("Ajax Error")
                        console.log(response)
                        toaster('error', 'Error: ' + response.statusText)
                    })
                    .done(function(response) {
                        location.replace('#{editAction}' + response.data.id)
                    })
                    return false
                }
            }

            var $form = $('form[name=mainForm]')

            // CREATE / SAVE
            $form.form(validationRules)

            var deleteComplete = function(){location.replace('#{listAction}') }
            deleteConfirmation('#{apiItem}#{data.id}', $form.form('get values'), deleteComplete)

            $form.find('#addressSearch').search(googleAddressSearchAndPopulate)
            $form.find('#startDate').pickadate()
            $form.find('#startTime').pickatime()
            $form.find('#endDate').pickadate()
            $form.find('#endTime').pickatime()

            tinymce.init(
                $.extend({
                    selector: 'form[name=mainForm] textarea.mde'
                }, tinymceConfig)
            )

            var setActiveState = function(apiUri, eventId) {
                $.ajax({
                    type: 'put',
                    url: apiUri,
                    dataType: 'JSON',
                    statusCode: {
                        201: function(data) {
                            console.log('201 Success')
                            toaster('success', data.message)
                        },
                        500: function(data) {
                            console.log('500 Error')
                            toaster('error', data.message)
                        }
                    }
                })
            }

            // onChecked
            $('#activeCheck').checkbox({
                onChecked: function() {
                    console.log('onChecked called')
                    setActiveState('#{apiUri.secure.events.disableOthers + data.id}')
                },
                onUnchecked: function() {
                    console.log('onUnchecked called')
                    setActiveState('#{apiUri.secure.event.deactivate + data.id}')
                }
            })
        }

        $(function() {
            mainFormInit()
            selectorModalsConfigs()
        })

append appContent

    - var isIncomplete = function(formMode) { return formMode !== 'edit' }

    form.ui.form(name='mainForm')

        +mainFormWrapper

            +formSegment

                +formSegmentHeader('Event Details')

                +formSegmentIntro
                    p Before you start, make sure you have created the person in the person section you wish to be the main contact for this event.

                .field.required
                    label(for="eventName") Event Name
                    input(type="text", name="name", id="eventName", value=data.name)

                .field
                    label(for='description') Activity Description
                    +textareaEditor('description', 'description')
                        = data.description

                .field.required
                    label(for='_contact') Main Contact
                    +personSelector('_contact', '_contact', data._contact?data._contact.id:'')

                .ui.horizontal.divider

                .field
                    label(for='active') Is the current event?
                    #activeCheck.ui.toggle.checkbox
                        input(type="checkbox", name="active", id="active", checked=data.active)
                        label(for="active") Other events will be set to false.

            +formSegment(isIncomplete(formMode))

                +formSegmentHeader("Address")

                +formSegmentIntro
                p Your address is used to know where you are coming from and is another way to contact you in case we need to.

                +addressFields(data.address?data.address:'')

            +formSegment(isIncomplete(formMode))

                +formSegmentHeader('Event Schedule')

                +formSegmentIntro

                .fields

                    .field.ten.wide.required
                        label(for="startDate") Start Date
                        input(type='text', name="startDate", id="startDate", value=data.startDate, placeholder='Date')

                    .field.six.wide.required
                        label(for="startDate") Start Time
                        input(type='text', name="startTime", id="startTime", value=data.startTime, placeholder='Time')

                .fields

                    .field.ten.wide.required
                        label(for="endDate") End Date
                        input(type='text', name="endDate", id="endDate", value=data.endDate, placeholder='Date')

                    .field.six.wide.required
                        label(for="endTime") End Time
                        input(type='text', name="endTime", id="endTime", value=data.endTime, placeholder='Time')

            .ui.relaxed.stackable.grid
                .eight.wide.column
                    +formSegment(isIncomplete(formMode))
                        +selectorListPanel('meals', mealArray, 'Meal', 'green food', 'green')

                .eight.wide.column
                    +formSegment(isIncomplete(formMode))
                        +selectorListPanel('activities', activityArray, 'Activity', 'orange map', 'orange')

                .eight.wide.column
                    +formSegment(isIncomplete(formMode))
                        +selectorListPanel('tasks', taskArray, 'Task', 'yellow heart', 'yellow')

            div(style='display: none;')
                input#PreventChromeAutocomplete(type='text', name='PreventChromeAutocomplete', autocomplete='address-level4')
                input(type="hidden", name="id", value=data.id)

        +messageContainer

    -// *************************************************
    -// FORM MODALS
    -// *************************************************

    -// Meals Form
    +selectorModal('meals', 'Meal', 'green food', 'green')

    -// Activity Form
    +selectorModal('activities', 'Activity', 'orange map', 'orange')

    -// Tasks Form
    +selectorModal('tasks', 'Task', 'yellow heart', 'yellow')
