extend ../layout

append javascripts
    script.
        $(function(){
            $('#editEvent')
                .form({
                    fields: {
                    name: 'empty',
                    description: 'empty',
                }
            })
            $('.ui.delete.button').click(function(){
                deleteEntry('#{data.id}')
                $.ajax({
                url: '/api/event/#{data.id}',
                type: 'DELETE',
                success: function(result) {
                    window.location.replace('/admin/events/')
                }
            })
            })
        })

append appContent

    form#editEvent.ui.form(method=formMethod action=formAction)
        input(type="hidden", name="_method", value="PUT")

        .field
            label(for="name") Event Name
            input(type="text", name="name", id="name",  pattern="[A-Z,a-z, ]*", value=data.name)

        .field
            label(for="description") Description
            textarea(type="text", name="description", id="description", rows="3",  pattern="[A-Z,a-z, ]*")
                = data.description

        .field Schedule
        .field Select Contact
        .field Select/Add Location

        .ui.submit.button Submit
        .ui.reset.button Reset
        .ui.clear.button Clear
        .ui.delete.button Delete
