include ../../mixins/addressSelector
include ../../mixins/personSelector
include ../../mixins/scheduleDatesSelector
include ../scheduleDates/parts/form
include ../includes/formActionButtons

extend ../layout

append javascripts
    script(src="/javascripts/scheduleDayForm.js")
    script.
        $(function(){
            scheduleEventFormScripts('#{data.id}', '#{data.id}')
            var validationRules = {
                fields: {
                    eventName : ['empty'],
                    description: ['empty'],
                    mainPerson: ['empty'],
                    location: ['empty'],
                    schedules: ['empty']
                },
                inline : false,
                onSuccess: function(event, fields){
                    $.ajax({
                        type: '#{formMethod}',
                        data: fields,
                        url: '#{apiItem}',
                        dataType: 'JSON',
                        statusCode: {
                            201: function() {
                                console.log('201 Error')
                                $.get('/message/success/Saved successfully')
                            },
                            501: function() {
                                console.log('501 Error')
                                $.get('/message/error/Error saving')
                            }
                        }
                    })
                    .done(function(response) {
                        location.replace('#{editAction}' + response.data.id)
                    })
                    return false
                }
            }

            var $form =  $('form[name=mainForm]')

            // CREATE / SAVE
            $form.form(validationRules)

            $('.ui.delete.modal').modal({
                onApprove: function(){
                    $.ajax({
                        type: 'delete',
                        data:  $form.form('get values'),
                        url: '#{apiItem}#{data.id}',
                        dataType: 'JSON',
                        statusCode: {
                            204: function() {
                                $.get('/message/success/Deleted successfully')
                            },
                            501: function() {
                                $.get('/message/error/Error deleting')
                            }
                        }
                    })
                    .done(function(response) {
                        location.replace('#{listAction}')
                    })
                }
            })
            $form.find('.delete.button').click(function(){
                $('.ui.delete.modal').modal('show')
            })
            $form.find('.personSelector').search(localPersonSearch)
            $form.find('.addressSelector').search(localAddressSearch)
            $form.find('input[data-maxsize], textarea[data-maxsize]').maxLengthCounter()

            var scheduleDateValidationRules = {
                dateField: 'empty',
                startTime: 'empty',
                endTime: 'empty'
            }
            $scheduleDateForm = $('form[name=scheduleDateForm]')
            $form.find('#addSchedules').click(function(){
                $scheduleDateForm.form('clear')
                $('#schedulesForm').modal('show')
            })
            var count = 0;
            $scheduleDateForm.form({
                fields: scheduleDateValidationRules,
                inline : false,
                onSuccess: function(event, fields){
                    var i = count++
                    $clone = $("#sample").clone()
                    $clone.find('.header').text(fields.scheduleDay)
                    $clone.find('.description').text(fields.startTime + ' - ' + fields.endTime)
                    $clone.append(newHidden(i, 'scheduleDay', fields.scheduleDay))
                    $clone.append(newHidden(i, 'startTime', fields.startTime))
                    $clone.append(newHidden(i, 'endTime', fields.endTime))
                    $clone.appendTo("#schedules")
                    $clone.show()
                    $('#schedulesForm').modal('hide')
                    $form.form(validationRules)
                    return false
                }
            })
            $('#schedulesForm .submit.button').click(function(){
                $scheduleDateForm.form('submit')
            })
        })

        function newHidden(key, name, value) {
            // Create a hidden input element, and append it to the form:
            var input = document.createElement('input')
            input.type = 'hidden'
            input.id = 'schedules_' + name + '_' + key
            input.name = 'schedules[' + key + '][' + name + ']'
            input.value = value
            return input
        }

append appContent

    h1 Event

    form.ui.form(name='mainForm')

        input(type="hidden", name="id", value=data.id)

        div(style='display: none;')
            input#PreventChromeAutocomplete(type='text', name='PreventChromeAutocomplete', autocomplete='address-level4')

        .ui.raised.segment

            .field.required
                label(for="eventName") Event Name
                input(type="text", name="name", id="eventName", value=data.name)

            .field.required
                label(for="description") Description
                textarea(name='description', id='description', rows="2", placeholder='Limit is 2000 characters.', data-maxsize='2000', data-output='descriptionCount', wrap='virtual')
                    = data.description
                .label ( #[i#descriptionCount] / 2000)

        .ui.raised.segment

            .field.required
                label(for="_address") Location
                +addressSelector('_address', data._address?data._address.shortAddress:'', data._address?data._address.id:'')

        .ui.raised.segment

            .field.required
                label(for='_contact') Main Contact
                +personSelector('_contact', data._contact?data._contact.fullName:'', data._contact?data._contact.id:'')

        .ui.raised.segment

            .ui.row
                a#addSchedules.ui.right.floated.button(href='#')
                    i.icon.plus
                    | Add Schedule Day

                .field.required
                    label.ui.right.floated(for="schedules") Schedule Days

            #schedules.ui.relaxed.divided.list

                .ui.field.item.hidden#sample(style="display:none")
                    i.large.clock.middle.aligned.icon
                    .content
                        a.header
                        .description

                if data.schedules

                    -each schedule, index in data.schedules
                        input(type='hidden', name='scheduleDay[#{index}][id]', value=schedule.id)
                        input(type='hidden', name='scheduleDay[#{index}][scheduleDay]', value=schedule.scheduleDay)
                        input(type='hidden', name='scheduleDay[#{index}][startTime]', value=schedule.startTime)
                        input(type='hidden', name='scheduleDay[#{index}][endTime]', value=schedule.endTime)
                        .item
                            i.large.clock.middle.aligned.icon
                            .content
                                a.header= schedule.scheduleDay
                                .description #{schedule.startTime} - #{schedule.endTime}

        .ui.row
            +actionButtons(formMode)

        .ui.hidden.clearing.divider

        .ui.error.message


append footer
    //- Modal
    #schedulesForm.ui.modal
        .header Schedule Date
        .content
            form.ui.form(name='scheduleDateForm')
                +scheduleDayDateTime(data)
                +locationSelector(data)
        .actions
            .ui.cancel.button
                | Cancel
            .ui.primary.submit.button
                | Save