include ../../mixins/personSelector
include ../../mixins/scheduleDatesSelector
include ../../mixins/selector
include ../addresses/parts/addressFields
include ../addresses/parts/addressSelector
include ../scheduleDates/parts/form
include ../includes/formToolbar
include ../includes/formElements

extend ../layout

append stylesheets
    link(rel="stylesheet", type="text/css", href="/pickadate/themes/classic.css")
    link(rel="stylesheet", type="text/css", href="/pickadate/themes/classic.date.css")
    link(rel="stylesheet", type="text/css", href="/pickadate/themes/classic.time.css")

block toolbar
    +formToolbar

append javascripts
    script(src="/javascripts/scheduleDayForm.js")
    script(src="/pickadate/picker.js")
    script(src="/pickadate/picker.date.js")
    script(src="/pickadate/picker.time.js")
    // Local Form Scripts
    script.
        // Global Vars
        var activityListContainer = !{ activities ? JSON.stringify(activities) : '[]' }
        var mealListContainer = !{ meals ? JSON.stringify(meals) : '[]' }
        var taskListContainer = !{ tasks ? JSON.stringify(tasks) : '[]' }

        function customValidators($form, fields, activities, meals, tasks, formErrors) {
            if (typeof formErrors == 'undefined') {
                formErrors = []
            }
            if (fields['activityArray'].length > 25) {
                formErrors.push('No more than 25 activities')
            }
            if (fields['mealArray'].length > 25) {
                formErrors.push('No more than 25 meals')
            }
            if (fields['taskArray'].length > 50) {
                formErrors.push('No more than 50 tasks')
            }
            console.log(formErrors)
            if (formErrors.length > 0) {
                $form.form('add errors', formErrors)
            }
            return (formErrors.length > 0)
        }

        function addDays(date, days) {
            var result = new Date(date)
            result.setDate(result.getDate() + days)
            return result
        }
        $(function(){
            var validationRules = {
                fields: {
                    eventName : ['empty'],
                    description: ['empty'],
                    mainPerson: ['empty'],
                    location: ['empty'],
                    schedules: ['empty'],
                    _contact: ['empty']
                },
                inline : false,
                keyboardShortcuts: false,
                onFailure: function(formErrors, fields) {
                    console.log(formErrors)
                    fields['activityArray'] = activityListContainer
                    fields['mealArray'] = mealListContainer
                    fields['taskArray'] = taskListContainer
                    customValidators($form, fields, formErrors)
                    return false
                },
                onSuccess: function(event, fields) {
                    fields['activityArray'] = activityListContainer
                    fields['mealArray'] = mealListContainer
                    fields['taskArray'] = taskListContainer
                    if (customValidators($form, fields)) { // has errors
                        return false
                    }
                    $.ajax({
                        type: '#{formMethod}',
                        url: '#{formAction}',
                        data: fields,
                        dataType: 'JSON',
                        statusCode: {
                            201: function(data) {
                                $.get('/message/success/' + data.message)
                            }
                        }
                    })
                    .error(function(response) {
                        console.log("Ajax Error")
                        console.log(response)
                        toaster('error', 'Error: ' + response.statusText)
                    })
                    .done(function(response) {
                        location.replace('#{editAction}' + response.data.id)
                    })
                    return false
                }
            }

            var $form = $('form[name=mainForm]')

            // CREATE / SAVE
            $form.form(validationRules)

            $deleteModal = $('.ui.delete.modal')
            $deleteModal.modal({
                onApprove: function(){
                    $.ajax({
                        type: 'delete',
                        data:  $form.form('get values'),
                        url: '#{apiItem}#{data.id}',
                        dataType: 'JSON',
                        statusCode: {
                            501: function() {
                                $.get('/message/error/Error deleting')
                            }
                        }
                    })
                    .done(function(response) {
                        location.replace('#{listAction}')
                    })
                }
            })
            $('.delete.button').click(function(){
                $deleteModal.modal('show')
            })
            $form.find('.personSelector').search(localPersonSearch)
            $form.find('#addressSearch').search(googleAddressSearchAndPopulate)
            $form.find('select.dropdown, .selection.dropdown').dropdown()
            $form.find('input[data-maxsize], textarea[data-maxsize]').maxLengthCounter()
            $form.find('#startDate').pickadate()
            $form.find('#startTime').pickatime()
            $form.find('#endDate').pickadate()
            $form.find('#endTime').pickatime()

            var setActiveState = function(apiUri, eventId) {
                $.ajax({
                    type: 'put',
                    url: apiUri,
                    dataType: 'JSON',
                    statusCode: {
                        201: function(data) {
                            console.log('201 Success')
                            toaster('success', data.message)
                        },
                        500: function(data) {
                            console.log('500 Error')
                            toaster('error', data.message)
                        }
                    }
                })
            }

            // onChecked
            $('#activeCheck').checkbox({
                onChecked: function() {
                    console.log('onChecked called')
                    setActiveState('#{apiUri.secure.events.disableOthers + data.id}')
                },
                onUnchecked: function() {
                    console.log('onUnchecked called')
                    setActiveState('#{apiUri.secure.event.deactivate + data.id}')
                }
            })

            // Meal Form
            var $mealsSelectForm = $('form[name=mealsSelectForm]')
            $mealsSelectForm.find('.personSelector').search(localPersonSearch)
            $mealsSelectForm.find('#startDate').pickadate()
            $mealsSelectForm.find('#startTime').pickatime()

            // Activity Form
            var $activitiesSelectForm = $('form[name=activitiesSelectForm]')
            $activitiesSelectForm.find('.personSelector').search(localPersonSearch)
            $activitiesSelectForm.find('#startDate').pickadate()
            $activitiesSelectForm.find('#startTime').pickatime()

            // Task Form
            var $tasksSelectForm = $('form[name=tasksSelectForm]')
            $tasksSelectForm.find('.personSelector').search(localPersonSearch)
            $tasksSelectForm.find('#startDate').pickadate()
            $tasksSelectForm.find('#startTime').pickatime()

        })

    -var activityFormRules = "{name:{rules:[{type:'empty'},{type:'maxLength[70]'}]},description:[{type:'maxLength[2000]'}],startTime:{rules:[{type:'empty'}]},duration:{rules:[{type:'empty'}]}}"
    -var activityRowItem = "fields.name + ' - ' + fields.startTime"
    +selectorJs('activities', 25, activityFormRules, activityRowItem, 'activityListContainer', apiUri.secure.activity)

    -var mealFormRules = "{name:{rules:[{type:'empty'},{type:'maxLength[70]'}]},description:[{type:'maxLength[2000]'}],startTime:{rules:[{type:'empty'}]},duration:{rules:[{type:'empty'}]}}"
    -var mealRowItem = "fields.name + ' - ' + fields.startTime"
    +selectorJs('meals', 25, mealFormRules, mealRowItem, 'mealListContainer', apiUri.secure.meal)

    -var taskFormRules = "{name:{rules:[{type:'empty'},{type:'maxLength[70]'}]},description:[{type:'maxLength[2000]'}],startTime:{rules:[{type:'empty'}]},duration:{rules:[{type:'empty'}]}}"
    -var taskRowItem = "fields.name + ' - ' + fields.startTime"
    +selectorJs('tasks', 50, taskFormRules, taskRowItem, 'taskListContainer', apiUri.secure.task)

append appContent

    - var isIncomplete = function(formMode) { return formMode !== 'edit' }

    form.ui.form(name='mainForm')

        +mainFormWrapper

            +formSegment

                +formSegmentHeader('Event Details')

                +formSegmentIntro
                    p Before you start, make sure you have created the person in the person section you wish to be the main contact for this event.

                .field.required
                    label(for="eventName") Event Name
                    input(type="text", name="name", id="eventName", value=data.name)

                .field.textarea.required
                    label(for='description') Activity Description
                    +textarea('description', 'description', '2000')
                        = data.description

                .field.required
                    label(for='_contact') Main Contact
                    +personSelector('_contact', '_contact', data._contact?data._contact.id:'', data._contact?data._contact.fullName:'')

                .ui.horizontal.divider

                pre data.active
                pre= data.active

                .field
                    label(for='active') Is the current event?
                    #activeCheck.ui.toggle.checkbox
                        input(type="checkbox", name="active", id="active", checked=data.active)
                        label(for="active") Other events will be set to false.

            +formSegment(isIncomplete(formMode))

                +formSegmentHeader("Address")

                +formSegmentIntro
                p Your address is used to know where you are coming from and is another way to contact you in case we need to.

                +addressFields(data.address?data.address:'')

            +formSegment(isIncomplete(formMode))

                +formSegmentHeader('Event Schedule')

                +formSegmentIntro

                .fields

                    .field.ten.wide.required
                        label(for="startDate") Start Date
                        input(type='text', name="startDate", id="startDate", value=data.startDate, placeholder='Date')

                    .field.six.wide.required
                        label(for="startDate") Start Time
                        input(type='text', name="startTime", id="startTime", value=data.startTime, placeholder='Time')

                .fields

                    .field.ten.wide.required
                        label(for="endDate") End Date
                        input(type='text', name="endDate", id="endDate", value=data.endDate, placeholder='Date')

                    .field.six.wide.required
                        label(for="endDate") End Time
                        input(type='text', name="endTime", id="endTime", value=data.endTime, placeholder='Time')

            .ui.relaxed.stackable.grid
                .eight.wide.column
                    +formSegment(isIncomplete(formMode))
                        +selectorListPanel('meals', mealArray, 'Meal', 'green food', 'green')

                .eight.wide.column
                    +formSegment(isIncomplete(formMode))
                        +selectorListPanel('activities', activityArray, 'Activity', 'orange map', 'orange')

                .eight.wide.column
                    +formSegment(isIncomplete(formMode))
                        +selectorListPanel('tasks', taskArray, 'Task', 'blue heart', 'blue')

            div(style='display: none;')
                input#PreventChromeAutocomplete(type='text', name='PreventChromeAutocomplete', autocomplete='address-level4')
                input(type="hidden", name="id", value=data.id)

        +messageContainer

    //- Meals Form
    +selectorModal('meals', 'Meal', 'green food', 'green')
        input(type='hidden', name="_event", id="_event", value=data.id)

        .field.required
            label(for='name') Meal Name
            input(type='text', name='name', id='name')

        .field.required.textarea
            label(for='description') Meal Description
            +textarea('description', 'description', '2000')

        .fields

            .field.ten.wide.required
                label(for="startDate") Start Date
                input(type='text', name="startDate", id="startDate", value=data.startDate, placeholder='Date')

            .field.six.wide.required
                label(for="startDate") Start Time
                input(type='text', name="startTime", id="startTime", value=data.startTime, placeholder='Time')

            .field.ten.wide.required
                label(for="duration") Duration
                input(type='text', name="duration", id="duration", value=data.duration, placeholder='Duration')

        .field.required
            label(for='_contact') Main Contact
            +personSelector('_contact', '_contact', data._contact?data._contact.id:'', data._contact?data._contact.fullName:'')


    //- Activity Form
    +selectorModal('activities', 'Activity', 'orange map', 'orange')
        input(type='hidden', name="_event", id="_event", value=data.id)

        .field.required
            label(for='name') Activity Name
            input(type='text', name='name', id='name')

        .field.required.textarea
            label(for='description') Activity Description
            +textarea('description', 'description', '2000')

        .fields

            .field.ten.wide.required
                label(for="startDate") Start Date
                input(type='text', name="startDate", id="startDate", value=data.startDate, placeholder='Date')

            .field.six.wide.required
                label(for="startDate") Start Time
                input(type='text', name="startTime", id="startTime", value=data.startTime, placeholder='Time')

            .field.ten.wide.required
                label(for="duration") Duration
                input(type='text', name="duration", id="duration", value=data.duration, placeholder='Duration')

        .field.required
            label(for='_contact') Main Contact
            +personSelector('_contact', '_contact', data._contact?data._contact.id:'', data._contact?data._contact.fullName:'')

    //- Tasks Form
    +selectorModal('tasks', 'Task', 'blue heart', 'blue')
        input(type='hidden', name="_event", id="_event", value=data.id)

        .field.required
            label(for='name') Task Name
            input(type='text', name='name', id='name')

        .field.required.textarea
            label(for='description') Task Description
            +textarea('description', 'description', '2000')


        .field.required
            label(for="location") Location
            input(type='text', name="location", id="location", value=data.location, placeholder='Location')

        .fields

            .field.eight.wide.required
                label(for="effort") Effort
                select.ui.search.dropdown(name="effort", id="effort")
                    option Select
                    option(value=1) Easy
                    option(value=2) Moderate
                    option(value=3) Difficult
                    option(value=4) Something
                    option(value=5) Heavy Lifting

            .field.eight.wide.required
                label(for="personsRequired") Persons Required
                select.ui.search.dropdown(name="personsRequired", id="personsRequired")
                    option Select
                    option(value=1) 1
                    option(value=2) 2
                    option(value=3) 3
                    option(value=4) 4
                    option(value=5) 5+

        .fields

            .field.ten.wide.required
                label(for="startDate") Start Date
                input(type='text', name="startDate", id="startDate", value=data.startDate, placeholder='Date')

            .field.six.wide.required
                label(for="startDate") Start Time
                input(type='text', name="startTime", id="startTime", value=data.startTime, placeholder='Time')

            .field.ten.wide.required
                label(for="duration") Duration
                input(type='text', name="duration", id="duration", value=data.duration, placeholder='Duration')

        .field.required
            label(for='_contact') Main Contact
            +personSelector('_contact', '_contact', data._contact?data._contact.id:'', data._contact?data._contact.fullName:'')
