include ../../mixins/addressSelector
include ../../mixins/personSelector
include ../../mixins/scheduleDatesSelector
include ../scheduleDates/parts/form
include ../includes/formToolbar
include ../includes/formElements

extend ../layout

append stylesheets
    link(rel="stylesheet", type="text/css", href="/pickadate/themes/classic.css")
    link(rel="stylesheet", type="text/css", href="/pickadate/themes/classic.date.css")
    link(rel="stylesheet", type="text/css", href="/pickadate/themes/classic.time.css")

block toolbar
    +formToolbar

append javascripts
    script(src="/javascripts/scheduleDayForm.js")
    script(src="/pickadate/picker.js")
    script(src="/pickadate/picker.date.js")
    script(src="/pickadate/picker.time.js")
    script.
        function addDays(date, days) {
            var result = new Date(date)
            result.setDate(result.getDate() + days)
            return result
        }
        $(function(){
            var validationRules = {
                fields: {
                    eventName : ['empty'],
                    description: ['empty'],
                    mainPerson: ['empty'],
                    location: ['empty'],
                    schedules: ['empty']
                },
                inline : false,
                onSuccess: function(event, fields){
                    $.ajax({
                        type: '#{formMethod}',
                        data: fields,
                        url: '#{apiItem}',
                        dataType: 'JSON',
                        statusCode: {
                            201: function(data, textStatus, jqXHR) {
                                console.log('201 Error')
                                $.get('/message/success/Saved successfully')
                            }
                        }
                    })
                    .error(function(response) {
                        console.log(response)
                        toaster('error', 'Error: ' + JSON.parse(response.responseText).message)
                    })
                    .done(function(response) {
                        location.replace('#{editAction}' + response.data.id)
                    })
                    return false
                }
            }

            var $form = $('form[name=mainForm]')

            // CREATE / SAVE
            $form.form(validationRules)

            $('.ui.delete.modal').modal({
                onApprove: function(){
                    $.ajax({
                        type: 'delete',
                        data:  $form.form('get values'),
                        url: '#{apiItem}#{data.id}',
                        dataType: 'JSON',
                        statusCode: {
                            501: function() {
                                $.get('/message/error/Error deleting')
                            }
                        }
                    })
                    .done(function(response) {
                        location.replace('#{listAction}')
                    })
                }
            })
            $('.delete.button').click(function(){
                $('.ui.delete.modal').modal('show')
            })
            $form.find('.personSelector').search(localPersonSearch)
            $form.find('.addressSelector').search(localAddressSearch)
            $form.find('input[data-maxsize], textarea[data-maxsize]').maxLengthCounter()
            $form.find('#startDate').pickadate()
            $form.find('#startTime').pickatime()
            $form.find('#endDate').pickadate()
            $form.find('#endTime').pickatime()
        })

append appContent

    form.ui.form(name='mainForm')

        +mainFormWrapper

            +formSegment

                +formSegmentHeader('Event Details')

                +formSegmentIntro

                .field.required
                    label(for="eventName") Event Name
                    input(type="text", name="name", id="eventName", value=data.name)

                .field.required.textarea
                    label(for='description') Activity Description
                    +textarea('description', 'description', '2000')
                        = data.description

                .fields

                    .field.ten.wide.required
                        label(for="address") Location
                        +addressSelector('address', data.address?data.address.shortAddress:'', data.address?data.address.id:'')

                .fields

                    .field.ten.wide.required
                        label(for='_contact') Main Contact
                        +personSelector('_contact', '_contact', data._contact?data._contact.id:'', data._contact?data._contact.fullName:'')

            +formSegment

                +formSegmentHeader('Event Schedule')

                +formSegmentIntro

                .fields

                    .field.ten.wide.required
                        label(for="startDate") Start Date
                        input(type='text', name="startDate", id="startDate", value=data.startDate, placeholder='Date')

                    .field.six.wide.required
                        label(for="startDate") Start Time
                        input(type='text', name="startTime", id="startTime", value=data.startTime, placeholder='Time')

                .fields

                    .field.ten.wide.required
                        label(for="endDate") End Date
                        input(type='text', name="endDate", id="endDate", value=data.endDate, placeholder='Date')

                    .field.six.wide.required
                        label(for="endDate") End Time
                        input(type='text', name="endTime", id="endTime", value=data.endTime, placeholder='Time')

            div(style='display: none;')
                input#PreventChromeAutocomplete(type='text', name='PreventChromeAutocomplete', autocomplete='address-level4')
                input(type="hidden", name="id", value=data.id)

        +messageContainer
