include ../../mixins/addressSelector
include ../includes/formActionButtons
include parts/form

extend ../layout

append javascripts
    script(src="/javascripts/scheduleDayForm.js")
    script.
        $(function(){
            // scheduleEventFormScripts('#{data.id}', '#{data.id}')

              $('#editEvent')
                    .form({
                        fields: {
                            dateField: 'empty',
                            startTime: 'empty',
                            endTime: 'empty',
                            location: 'empty'
                        }
                    }
                )
                $('.ui.delete.button').click(function(){
                    deleteEntry('#{data.id}')
                    $.ajax({
                        url: '#{apiItem}' + '#{data.id}',
                        type: 'DELETE',
                        success: function(result) {
                            window.location.replace('#{apiCollection}')
                        }
                    })
                })
                $('#dateField').daterangepicker(
                  {
                    format: 'MM/DD/YYYY',
                    startDate: new Date(),
                    singleDatePicker: true,
                    timePicker: false
                  }
                )

                var timePickerDefaults = {
                    forceRoundTime: false,
                    minTime: '5:00am',
                    maxTime: '12:00am',
                    useSelect: true,
                    className: 'dropdown'

                }
                var endTime = $('#endTime')
                endTime.timepicker(timePickerDefaults)
                $('#startTime').timepicker(
                    timePickerDefaults, {
                    setTime: '#{data.startTime}'
                    }
                )
                    .on('changeTime', function(settings) {
                        endTime.timepicker(timePickerDefaults, {
                            minTime: target('ui-timepicker-value')
                        })
                    }
                )
                endTime.timepicker(timePickerDefaults)
                $('select.dropdown').dropdown()

            $('.addressSelector').search(localAddressSearch)
        })

append appContent

    - var method
    if (formMethod != 'post' && formMethod != 'get')
        - method = 'post'
    else
        - method = formMethod

    h1 Schedule Date

    form#editEvent.ui.form(method=formMethod action=formAction)

        div(style='display: none;')
            input#PreventChromeAutocomplete(type='text', name='PreventChromeAutocomplete', autocomplete='address-level4')

        - if (formMethod != 'post' && formMethod != 'get')
            input(type='hidden', name='_method', value=formMethod)

        .ui.raised.segment

            +scheduleDayDateTime(data)

        .ui.raised.segment

            +locationSelector(data)

        .ui.row

            +actionButtons(formMode)

        .ui.hidden.clearing.divider

        .ui.error.message
