extend ../layout

include ../../mixins/addressSelector

include parts/form

append stylesheets
    link(rel="stylesheet", type="text/css", href="/javascripts/daterangepicker.css")

append javascripts
    script(src="/jquery_timepicker/jquery.timepicker.min.js")
    script(src="/javascripts/moment.js")
    script(src="/javascripts/daterangepicker.min.js")
    script(src="/javascripts/moment.js")
    script(src="/javascripts/searchAPIs.js")

    script(src="/javascripts/scheduleDayForm.js")
    script.
        $(function(){
            scheduleEventFormScripts('#{data.id}', '#{data.id}')
            $('.addressSelector').search(localAddressSearch)
        })

append appContent

    - var method
    if (formMethod != 'post' && formMethod != 'get')
        - method = 'post'
    else
        - method = formMethod

    h1 Schedule Date

    form#editEvent.ui.form(method=formMethod action=formAction)

        div(style='display: none;')
            input#PreventChromeAutocomplete(type='text', name='PreventChromeAutocomplete', autocomplete='address-level4')

        - if (formMethod != 'post' && formMethod != 'get')
            input(type='hidden', name='_method', value=formMethod)

        .ui.raised.segment

            +scheduleDayDateTime(data)

        .ui.raised.segment

            +locationSelector(data)

    .ui.row
        .ui.primary.submit.button.right.floated
            case formMode
                when 'edit': | Update
                default: | Save

        a.ui.button.right.floated(href=list)
            | Cancel

        if formMode == 'edit'
            .ui.delete.icon.button.left.floated(title='Delete')
                i.trash.outline.icon
