include parts/selector

extends ../layout

append javascripts
    -var guestFormRules = "{firstName: {rules:[{type:'empty'}, {type:'maxLength[35]'}]},lastName: {rules:[{type:'empty'}, {type:'maxLength[35]'}]}}"
    -var guestRowItem = "function(i, fields) {return '<div class=\"item\">' + fields.firstName + ' ' + fields.lastName + '<div class=\"right floated content\"><i class=\"trash icon link\"></i></div></div>'}"
    -var petFormRules = "{name: {rules:[{type:'empty'}, {type:'maxLength[35]'}]},weight: {rules:[{type:'empty'}, {type:'maxLength[3]'}]}}"



    -var petRowItem = "function(i, fields){return '<div class=\"item\">' + fields.name + ' (' + fields.weight + ')<div class=\"right floated content\"><i class=\"trash icon link\"></i></div></div>'}"

    //<input type=\"hidden\" name=\"pets\" value={name:' + fields.name + ',weight:' + fields.weight + '}/>

    +selectorJs('guests', 5, guestFormRules, guestRowItem, data.guests)
    +selectorJs('pets', 2, petFormRules, petRowItem, data.pets)
    script.
        $(function(){
            $('.tabular.menu .item').tab()
        })
        $(function(){
            var validationRules = {
                emergencyContact_fullName : {rules:[{type:'empty'}, {type:'maxLength[70]'}]},
                emergencyContact_phone : {rules:[{type:'empty'}, {type:'maxLength[14]'}]},
                emergencyContact_email : {rules:[{type:'maxLength[254]'}, {type:'email'}]}
            }
            var $form =  $('form[name=mainForm]')
            // CREATE / SAVE
            $form.form({
                fields: validationRules,
                inline : false,
                onSuccess: function(event, fields){
                    console.log('fields')
                    console.table(fields)
                    console.log('Attemping to save into #{formAction} via #{formMethod}' )
                    $.ajax({
                        type: '#{formMethod}',
                        data: fields,
                        url: '#{formAction}',
                        dataType: 'JSON',
                        statusCode: {
                            201: function(data, textStatus, jqXHR) {
                                $.get('/message/success/Saved successfully')
                            }
                        }
                    })
                    .error(function(response) {
                        toaster('error', 'Error: ' + JSON.parse(response.responseText).error)
                        console.error('ERROR')
                        console.error(response)
                        location.replace('/account/login/')
                    })
                    .done(function(response) {
                        console.log('SUCCESS')
                        location.replace('#{formComplete}')
                    })
                    return false
                }
            })
        })

append frontContent
    .ui.text.container
        h1.ui.header Signup for #{data._event.name}
        .ui.hidden.divider
        .ui.hidden.divider
        form.ui.form(name='mainForm')

            input(type='hidden', name='_event', value=data._event.id)
            input(type='hidden', name='_contact', value=data._contact.id)

            .ui.relaxed.stackable.grid

                .eight.wide.column

                    +selectorListPanel('guests', data.guests, 'Guest', 'blue user', 'blue')

                    +selectorListPanel('pets', data.pets, 'Pet', 'brown paw', 'brown')

                .eight.wide.column

                    h5.ui.heading Emergency Contact
                    .ui.basic.red.segment

                        .field.required
                            label(for='emergencyContact_fullName') Full Name
                            input(type='text', id='emergencyContact_fullName', name='_emergencyContact[fullName]',
                                value=data._contact._emergencyContact?data._contact._emergencyContact.fullName:'')

                        .field.required
                            label(for='emergencyContact_phone') Phone Number
                            input(type='text', id='emergencyContact_phone', name='_emergencyContact[phone]',
                                value=data._contact._emergencyContact?data._contact._emergencyContact.phone:'')

                        .field.required
                            label(for='emergencyContact_email') Email Address
                            input(type='text', id='emergencyContact_email', name='_emergencyContact[email]',
                                value=data._contact._emergencyContact?data._contact._emergencyContact.email:'')

            // include parts/eventSelector

            .ui.container
                .ui.grid
                    .sixteen.wide.right.aligned.column
                        .ui.big.primary.submit.button
                            | Reserve Your Spot!

            .ui.hidden.clearing.divider
            .ui.error.message
            .ui.hidden.clearing.divider

append footer
    p &nbsp;
    p &nbsp;
    +selectorModal('guests', 'Guest')
        .two.fields
            .field
                label(for='firstName') First Name
                input(type='text', name='firstName', id='firstName')
            .field
                label(for='lastName') Last Name
                input(type='text', name='lastName', id='lastName')
        .field
            label(for='isChild') Is Child
            input(type='checkbox', name='isChild', id='isChild')

    +selectorModal('pets', 'Pets')
        .two.fields
            .field
                label(for='kind') Kind
                select.ui.dropdown(type='text', name='kind', id='kind')
                    option Dog
                    option Cat
                    option Other
            .field
                label(for='name') Name
                input(type='text', name='name', id='name')

            .field
                label(for='weight') Weight
                input(type='text', name='weight', id='weight')