include ../../mixins/formFields
include ../../mixins/personSelector
include ../includes/formToolbar
include ../includes/formElements

extend ../layout

append javascripts
    script.
        $(function(){
            var validationRules = {
                name: {rules:[{type:'empty'}, {type:'maxLength[70]'}]},
                description: {rules:[{type:'empty'}, {type:'maxLength[500]'}]},
                startTime: {rules:[{type:'empty'}, {type:'maxLength[7]'}]},
                endTime: {rules:[{type:'empty'}, {type:'maxLength[7]'}]},
                _contact: {rules:[{type:'empty'}]}
            }

            var $form =  $('form[name=mainForm]')

            // CREATE / SAVE
            $form.form({
                fields: validationRules,
                inline : false,
                keyboardShortcuts: false,
                onSuccess: function(event, fields){
                    $.ajax({
                        type: '#{formMethod}',
                        data: fields,
                        url: '#{apiItem}',
                        dataType: 'JSON',
                        statusCode: {
                            201: function(data, textStatus, jqXHR) {
                                console.log('201 Error')
                                $.get('/message/success/Saved successfully')
                            }
                        }
                    })
                    .error(function(response) {
                        toaster('error', 'Error: ' + JSON.parse(response.responseText).message)
                    })
                    .done(function(response) {
                        location.replace('#{editAction}' + response.data.id)
                    })
                    return false
                }
            })

            var deleteComplete = function(){location.replace('#{listAction}') }
            deleteConfirmation('#{apiItem}#{data.id}', $form.form('get values'), deleteComplete)

            $form.find('.ui.checkbox').checkbox()
            $form.find('.personSelector').search(localPersonSearch)
        })

block toolbar
    +formToolbar

append appContent

    form.ui.form(name='mainForm')

        +mainFormWrapper

            div(style='display: none;')
                input#PreventChromeAutocomplete(type='text', name='PreventChromeAutocomplete', autocomplete='address-level4')
                input(type="hidden", name="id", value=data.id)

            +formSegment

                include parts/formFields

            +formSegment

                .field.required
                    label(for='_contact') Main Contact
                    +personSelector('_contact', '_contact', data._contact?data._contact.id:'')

        +messageContainer