
mixin selectorListPanel(selectorId, items, itemName, iconClass, segmentClass)
    .field: div(id=selectorId)
        .ui.inverted.dimmer
            .ui.text.loader
        h5.ui.header
            .addEntry.basic.ui.button.right.floated
                i.add.icon
                | Add #{itemName}
            .content
                i.icon(class=iconClass)
                | Your #{itemName}s
                span.ui.tiny.label.selectorCount
        .ui.basic.segment(class=segmentClass)
            .listOut.ui.relaxed.ordered.list
            .ui.hidden.divider

mixin selectorModal(selectorId, itemName, iconClass, segmentClass)
    .ui.small.first.coupled.modal(id='#{selectorId}Modal')
        .header
            i.icon(class=iconClass)
            | Edit #{itemName}
        .content(class=segmentClass)
            form.ui.form(name='#{selectorId}SelectForm', id='#{selectorId}SelectForm')
                block
                .formFields
                .ui.error.message
        .actions
            .ui.cancel.button
                | Cancel
            .ui.red.delete.button
                i.trash.icon
                | Delete
            .ui.green.approve.button
                i.check.icon
                | Save #{itemName}

    .ui.second.coupled.small.modal(id='#{selectorId}DeleteModal')
        .header
            | Delete
        .content
            .description
                p: strong Are you sure you want to delete this?
        .actions
            .ui.cancel.button
                | No Thank You
            .ui.red.approve.delete.button
                i.trash.icon
                | Delete Now
