mixin formToolbar

    #toolbar.ui.menu.container

        a.item.launch.medium.icon.show-mobile
            i.content.icon

        a.item(href=listAction, title='Back to list')
            i.list.icon
            span.hide-mobile Back to list

        .right.menu

            .item
                .ui.reset.button(title=subBtn)
                    | Reset

            .item
                -var subBtn = formMode == 'edit' ? 'Update' : 'Save'
                .ui.primary.submit.button(title=subBtn)
                    i.checkmark.icon
                    = subBtn

            .item.ui.dropdown.link.icon
                | &nbsp;&nbsp;
                i.ellipsis.vertical.icon
                | &nbsp;&nbsp;

                .menu

                    .header Actions

                    a.item(href=readOnlyAction + data.id, title='View')
                        i.eye.icon
                        | View

                    a.item(href=createAction, title='New')
                        i.plus.icon
                        | New

                    a.item.delete.button.medium(href="#", title='Delete')
                        i.trash.outline.icon
                        | Delete now...

                    .ui.small.basic.delete.modal.center
                        .header
                            | Delete
                        .description
                            | Are you sure you want to delete this item?
                        .actions
                            .ui.negative.button
                                | Cancel
                            .ui.positive.labeled.icon.button
                                i.checkmark.icon
                                | Delete Now
