//- Pagination mixin
//- ----------------
//- start=# to start pagination at
//- numPages=# links to serve up
//- base=base url before num
//-
//- Example:
//- pagination(3,5,4,'/fda/')
//- Yields: | « | 3 | 4 | 5 | 6 | 7 | » |
//- « = /fda/2, 3 = /fda/3, 4 = #, .. 7 = /fda/7, » = /fda/8

mixin listToolbar
    - start    = start              || 1
    - numPages = data.pages         || 10
    - curr     = data.page          || 1
    - base     = listAction + '/'   || '#'
    - var prev = Number(curr) - 1
    - var next = Number(curr) + 1

    #toolbar.ui.menu.container

        a.item.launch.medium.icon.show-mobile
            i.content.icon

        if numPages > 1
            .pagination.center.menu
                - if(curr==1)
                    a.icon.item.disabled(href='#')
                        i.left.chevron.icon
                - else
                    a.icon.item(href='#{base}#{prev}')
                        i.left.chevron.icon

                .show-mobile.ui.pointing.dropdown.link.item
                    span.text  #{curr} of #{numPages}
                    i.dropdown.icon
                    .menu
                        - for(var i=start;i<start+numPages;i++) {
                            a.item(href='#{base}#{i}') #{i}
                        - }

                - for(var i=start;i<start+numPages;i++) {
                    - if(i==curr)
                        a.item.active.hide-mobile(href='#{base}#{i}') #{i}
                    - else
                        a.item.hide-mobile(href='#{base}#{i}') #{i}
                - }
                - if(curr==numPages)
                    a.icon.item.disabled(href='#')
                        i.right.chevron.icon
                - else
                    a.icon.item(href='#{base}#{next}')
                        i.right.chevron.icon

        .right.menu

            if formMode != 'edit'

                a.item(href=createAction, title='New')
                    i.plus.icon
                    | New

            else

                .ui.dropdown.link.item.icon
                    | &nbsp;&nbsp;
                    i.ellipsis.vertical.icon
                    | &nbsp;&nbsp;

                    a.item(href=createAction, title='New')
                        i.plus.icon
                        | New

                    a.item.delete.button.medium(href="#", title='Delete')
                        i.trash.outline.icon
                        | Delete now...

                    .ui.small.basic.delete.modal.center
                        .header
                            | Delete
                        .description
                            | Are you sure you want to delete this item?
                        .actions
                            .ui.negative.button
                                | Cancel
                            .ui.positive.labeled.icon.button
                                i.checkmark.icon
                                | Delete Now
