include ../../mixins/formFields
include ../../mixins/personSelector
include ../includes/formToolbar

extend ../layout

append javascripts
    script.
        $(function(){
            var validationRules = {
                name: {rules:[{type:'empty'}, {type:'maxLength[70]'}]},
                description: {rules:[{type:'empty'}, {type:'maxLength[500]'}]},
                location: {rules:[{type:'empty'}, {type:'maxLength[250]'}]},
                startTime: {rules:[{type:'empty'}, {type:'maxLength[7]'}]},
                endTime: {rules:[{type:'empty'}, {type:'maxLength[7]'}]},
                personsRequired: {rules:[{type:'empty'}, {type:'number'}]},
                effort: {rules:[{type:'empty'}, {type:'number'}]}, // 1-5
                _contact: {rules:[{type:'empty'}]}
            }

            var $form =  $('form[name=mainForm]')

            // CREATE / SAVE
            $form.form({
                fields: validationRules,
                inline : false,
                onSuccess: function(event, fields){
                    $.ajax({
                        type: '#{formMethod}',
                        data: fields,
                        url: '#{apiItem}',
                        dataType: 'JSON',
                        statusCode: {
                            201: function() {
                                console.log('201 Error')
                                $.get('/message/success/Saved successfully')
                            },
                            501: function() {
                                console.log('501 Error')
                                $.get('/message/error/Error saving')
                            }
                        }
                    })
                    .done(function(response) {
                        location.replace('#{editAction}' + response.data.id)
                    })
                    return false
                }
            })

            $('.ui.delete.modal').modal({
                onApprove: function(){
                    $.ajax({
                        type: 'delete',
                        data:  $form.form('get values'),
                        url: '#{apiItem}#{data.id}',
                        dataType: 'JSON',
                        statusCode: {
                            204: function() {
                                $.get('/message/success/Deleted successfully')
                            },
                            501: function() {
                                $.get('/message/error/Error deleting')
                            }
                        }
                    })
                    .done(function(response) {
                        location.replace('#{listAction}')
                    })
                }
            })
            $form.find('.delete.button').click(function(){
                $('.ui.delete.modal').modal('show')
            })

            // Timepicker
            $form.find('#startTime').timepicker({
                minTime: '5:00am',
                maxTime: '12:00am',
                match: 'text',
                useSelect: true,
                noneOption: ' ',
                className: 'ui selection dropdown'
            })
            var endTimeField = $form.find('#endTimeField')
            endTimeField.find('#endTime').timepicker({
                minTime: '5:00am',
                maxTime: '12:00am',
                match: 'text',
                useSelect: true,
                noneOption: ' ',
                className: 'ui selection dropdown',
                showDuration: true
            })
            $('#startTime').on('changeTime', function() {
                // Get selected time
                var out = moment($(this).timepicker('getTime')).add(1, 'h').format('h:mma')
                // Set hidden field
                endTimeField.find('#endTime').val(out)

                endTimeField.find('#endTime').timepicker('setTime', out)

                endTimeField.find('#endTime').timepicker('option', { minTime: $(this).timepicker('getTime') })

                endTimeField.find('.ui-timepicker-select').dropdown()
            })
            $form.find('.ui-timepicker-select').dropdown()
            $form.find('.ui.dropdown').dropdown()
            $form.find('input[data-maxsize], textarea[data-maxsize]').maxLengthCounter()
            $form.find('.ui.checkbox').checkbox()
            $form.find('.personSelector').search(localPersonSearch)
        })

append appContent

    .ui.stackable.grid
        .column

            form.ui.form(name='mainForm')

                +formToolbar

                div(style='display: none;')
                    input#PreventChromeAutocomplete(type='text', name='PreventChromeAutocomplete', autocomplete='address-level4')

                input(type="hidden", name="id", value=data.id)

                .ui.raised.segment

                    .field.required
                        label(for='name') Task Name
                        input(type='text', name='name', id='name', value=data.name)

                    .field.required
                        label(for='description') Task Description
                        textarea(name='description', id='description', placeholder='Limit is 2000 characters.', data-maxsize='2000', data-output='descriptionCount', wrap='virtual')
                            = data.description
                        .label ( #[i#descriptionCount] / 2000)

                    .field.required
                        label(for='_contact') Main Contact
                        -var contactVal = ''
                        if data && data._contact
                           contactVal = data._contact
                        +personSelector('_contact', contactVal.id, contactVal.fullName)

                .ui.raised.segment

                    .two.fields

                        .field.required
                            label(for="startTime") Start Time
                            input(type="text", name="startTime", id="startTime", value=data.startTime)

                        .field.required#endTimeField
                            label(for="endTime") End Time
                            input(type="text", name="endTime", id="endTime", value=data.endTime)

                    .field.required
                        label(for='location') Location (Being served at)
                        input(type='text', name='location', id='location', value=data.location)


                .ui.raised.segment

                    .two.fields

                        .field.required
                            label(for='effort') Effort
                            select.ui.dropdown(name='effort', id='effort')
                                option
                                option 1
                                option 2
                                option 3
                                option 4
                                option 5

                        .field.required
                            label(for='personsRequired') Persons Required
                            input(type='text', name='personsRequired', id='personsRequired', value=data.personsRequired)

                    .field.required
                        label(for='') Volunteers
                        ol
                            li John Smith
                            li John Rambo
                            li Brad Thomas

                .ui.hidden.clearing.divider

                .ui.error.message
