include ../includes/formElements
include ../../mixins/personSelector
include ../../mixins/selector
include ../../mixins/scheduleDatesSelector

input(type='hidden', name="isNew", id="isNew", value=isNew)
input(type='hidden', name="id", id="id", value=data.id)
input(type='hidden', name="_event", id="_event", value=data._event)

.field.required
    label(for='name') Meal Name
    input(type='text', name='name', id='name', value=data.name)

.field
    label(for='description') Meal Description
    +textareaEditor('description', 'mealDescription', '2000')
        =data.description

.field.required
    label(for="location") Meetup Location
    input(type='text', name="location", id="location", value=data.location, placeholder='Location')

.fields

    .field.ten.wide.required
        label(for="startDateTime") Start Date
        input(type="datetime-local", name="startDateTime", id="startDateTime", value=moment(data.startDateTime).format('YYYY-MM-DDTHH:mm'))

    .field.six.wide.required
        label(for="duration") Duration
        .ui.right.labeled.input
            input(type='number', name="duration", id="duration", value=data.duration, placeholder='Duration')
            .ui.basic.label Hours

.field.required
    label(for='_contact') Main Contact
    +personSelector('_contact', '_contact', data._contact)
