include ../parts/formElements

extends ../layout

append stylesheets
    style.
        #signup .ui.segment {
            width: 600px;
        }

append javascripts
    script.
        $(function(){
            var validationRules = {
                firstName: {
                    rules:[
                        { type: 'empty' },
                        { type: 'maxLength[35]' }
                    ]
                },
                lastName: {
                    rules:[
                        { type: 'empty' },
                        { type: 'maxLength[35]' }
                    ]
                },
                phone: {
                    rules:[
                        { type: 'empty' },
                        { type: 'maxLength[15]' }
                    ]
                }
            }

            var $form =  $('form[name=mainForm]')

            // CREATE / SAVE
            $form.form({
                fields: validationRules,
                inline : false,
                onSuccess: function(event, fields){
                    console.log('Attemping to save into #{formAction} via #{formMethod}' )
                    $.ajax({
                        type: '#{formMethod}',
                        data: fields,
                        url: '#{formAction}',
                        dataType: 'JSON',
                        statusCode: {
                            201: function(data, textStatus, jqXHR) {
                                $.get('/message/success/Saved successfully')
                            }
                        }
                    })
                    .error(function(response) {
                        console.log('AJAX ERROR')
                        console.log(response.responseText)
                        toaster('error', 'Error: ' + JSON.parse(response.responseText).message)
                    })
                    .done(function(response) {
                        console.log('SUCCESS')
                        location.replace('#{formComplete}')
                    })
                    return false
                }
            })
        })

append frontContent

    .ui.text.container

        h5.ui.heading Contact Details

        .ui.basic.green.segment

            form.ui.form(name='mainForm')

                div(style='display: none;')
                    input#PreventChromeAutocomplete(type='text', name='PreventChromeAutocomplete', autocomplete='address-level4')
                    input(type="hidden", name="id", value=data.id)

                .field
                    label(for='username') Username
                    div= data.username

                .field
                    label(for='email') Email Address
                    div= data.email

                .two.fields.required
                    .field
                        label(for='firstName') First Name
                        input(type='text', id='firstName', name='_person[firstName]', maxlength='35'
                            value=data._person ? data._person.firstName : '')

                    .field
                        label(for='lastName') Last Name
                        input(type='text', id='lastName', name='_person[lastName]', maxlength='35'
                            value=data._person ? data._person.lastName : '')

                .field
                    label(for='phone') Phone Number
                    input(type='text', id='phone', name='_person[phone]', maxlength='15'
                            value=data._person ? data._person.phone : '')

                .ui.primary.submit.button Update Profile

                +messageContainer
