include ../parts/formElements

extends ../layout

append stylesheets
    style.
        #signup .ui.segment {
            width: 600px;
        }

append javascripts
    script.
        $(function(){
            var $form =  $('form[name=mainForm]')
            var validationRules = {
                username: {rules:[{type:'empty'}, {type:'maxLength[35]'}]},
                password: {rules:[{type:'empty'}, {type:'maxLength[35]'}]}
            }

            // LOGIN
            $form.form({
                fields: validationRules,
                inline : false,
                keyboardShortcuts: true,
                onSuccess: function(event, fields){
                    console.log('Attemping to log into #{formAction} via #{formMethod}' )
                    $.ajax({
                        type: '#{formMethod}',
                        data: fields,
                        url: '#{formAction}',
                        dataType: 'JSON',
                        statusCode: {
                            200: function(data, textStatus, jqXHR) {
                                if(typeof(Storage) !== "undefined") {
                                    localStorage.setItem("token", data.token)
                                    $.get('/message/success/Welcome')
                                } else {
                                    toaster("Error", "Sorry! No Web Storage support.")
                                    return false;
                                }
                            }
                        }
                    })
                    .error(function(response) {
                        toaster('error', JSON.parse(response.responseText).message)
                        return false
                    })
                    .done(function(response) {
                        location.replace('#{pageAccountHome}')
                    })
                    return false
                }
            })
        })

append frontContent

    .ui.text.container

        form.ui.form(name='mainForm')
            .ui.segments
                .ui.segment
                    h2.ui.center.aligned.header Log In

                .ui.segment

                    div(style='display: none;')
                        input#PreventChromeAutocomplete(type='text', name='PreventChromeAutocomplete', autocomplete='address-level4')

                    .ui.very.relaxed.stackable.grid

                        .eight.wide.column
                            .field
                                label(for='username') Username
                                .ui.left.icon.input
                                    input(type='text', name="username", id="username")
                                    i.user.icon

                            .field
                                label(for='password') Password
                                .ui.left.icon.input
                                    input(type='password', name="password", id="password")
                                    i.lock.icon

                            .field
                                .ui.submit.button
                                  | Log In

                                a.ui.right.floated.basic.button(href='#{pageAccountSignup}')
                                  | Sign Up

                        .ui.vertical.divider
                            | Or

                        .eight.wide.column
                            .field
                                label &nbsp;
                                a.fluid.ui.facebook.button(href=pageAccountHome)
                                  i.facebook.icon
                                  | Login with Facebook

                            .field
                                label &nbsp;
                                a.fluid.ui.google.plus.button(href=pageAccountHome)
                                  i.google.plus.icon
                                  | Login with Google Plus

            +messageContainer
