include ../parts/formElements

extends ../layout

append stylesheets
    style.
        #signup .ui.segment {
            width: 600px;
        }

append javascripts
    script.
        $(function(){
            var validationRules = {
                username: {rules:[{type:'empty'}, {type:'maxLength[35]'}]},
                password: {rules:[{type:'empty'}, {type:'maxLength[35]'}]},
                email: {
                    rules:[
                        { type: 'empty' },
                        { type: 'email' },
                        { type: 'maxLength[254]' }
                    ]
                }
            }

            var $form =  $('form[name=mainForm]')

            // CREATE / SAVE
            $form.form({
                fields: validationRules,
                inline : false,
                onSuccess: function(event, fields){
                    console.log('Attemping to save into #{formAction} via #{formMethod}' )
                    $.ajax({
                        type: '#{formMethod}',
                        data: fields,
                        url: '#{formAction}',
                        dataType: 'JSON',
                        statusCode: {
                            201: function(data, textStatus, jqXHR) {
                                console.log(data)
                                $.get('/message/success/Saved successfully')
                            }
                        }
                    })
                    .error(function(response) {
                        console.log('error')
                        console.log(response)
                        toaster('error', 'Error: ' + JSON.parse(response.responseText).message)
                    })
                    .done(function(response) {
                        console.log('done')
                        console.log(response)
                        location.replace('#{pageAccountLogin}')
                    })
                    return false
                }
            })
        })

append frontContent

    .ui.text.container

        form.ui.form(name='mainForm')
            .ui.segments
                .ui.segment
                    h2.ui.center.aligned.header Sign Up

                .ui.segment

                    div(style='display: none;')
                        input#PreventChromeAutocomplete(type='text', name='PreventChromeAutocomplete', autocomplete='address-level4')

                    .ui.very.relaxed.stackable.grid

                        .eight.wide.column
                            .field
                                label(for='username') Username
                                .ui.left.icon.input
                                    input(type='text', name='username', id='username')
                                    i.user.icon
                            .field
                                label(for='password') Password
                                .ui.left.icon.input
                                    input(type='password', name='password', id='password')
                                    i.lock.icon
                            .field
                                label(for='email') Email
                                .ui.left.icon.input
                                    input(type='text', name='email', id='email')
                                    i.mail.icon
                            .field
                                .ui.submit.button
                                  | Create Account

                                a.ui.right.floated.basic.button(href='/account/login')
                                  | Log In

                        .ui.vertical.divider
                            | Or

                        .eight.wide.column
                            .field
                                label &nbsp;
                                a.fluid.ui.facebook.button(href=pageAccountComplete)
                                  i.facebook.icon
                                  | Signup with Facebook

                            .field
                                label &nbsp;
                                a.fluid.ui.google.plus.button(href=pageAccountComplete)
                                  i.google.plus.icon
                                  | Signup with Google Plus


            +messageContainer
