extend ../layout

include ../../mixins/formFields

append javascripts
    script(src="/javascripts/jquery-maxlength.js")
    script.
        $(function(){
            $("input[data-maxsize], textarea[data-maxsize]").maxLengthCounter()

            $('.ui.checkbox').checkbox()
            $('#editPerson')
                .form({
                    fields: {
                    nickName: {rules:[{type:'empty'}, {type:'maxLength[70]'}]},
                    firstName: {rules:[{type:'empty'}, {type:'maxLength[35]'}]},
                    lastName: {rules:[{type:'empty'}, {type:'maxLength[35]'},{type:'doesntContain[a-zA-Z]'}]},
                    email: {rules:[{type:'empty'}, {type:'maxLength[254]'},{type:'email'}]},
                    childAge: {rules:[{type:'integer[0..17]',prompt:'Child must be under 18'},{type:'maxLength[2]'}]},
                    phone: {
                        identifier: 'phone',
                        rules: [{
                            type: 'regExp[/^[+]*[(]{0,1}[0-9]{1,3}[)]{0,1}[-\s\.\/0-9]*$/g]',
                            prompt: 'Please enter a valid phone number'
                        },{
                            type:'minLength[10]'
                        }]
                    }
                },
                inline : true
            })
            $('.ui.delete.button').click(function(){
                $.ajax({
                    url: '/api/person/#{data.id}',
                    type: 'DELETE'
                })
            })
        })

append appContent
    - var method
    if (formMethod != 'post' && formMethod != 'get')
        - method = 'post'
    else
        - method = formMethod
    form#editPerson.ui.form(method=method, action=formAction, name="form")

        - if (formMethod != 'post' && formMethod != 'get')
            input(type="hidden", name="_method", value=formMethod)

        +textField('nickName', 'Nickname', data.nickName)

        .two.fields
            +textField('lastName', 'Last Name', data.lastName)
            +textField('firstName', 'First Name', data.firstName)

        .two.fields
            +emailField('email', 'Email', data.email)
            +phoneField('phone', 'Phone', data.phone)

        .ui.segment
            .inline.equal.width.fields
                +toggleField('isChild', "Is a child", data.isChild)
                +field('childAge', 'Childs Age', data.childAge)
                    input(type="number", name="childAge", id="childAge", max="17", maxlength="2" value=data.childAge)

        +field('gearList', 'Hammock Setup', data.gearList)
            textarea(name='gearList', id='gearList', placeholder='Limit is 2000 characters.', data-maxsize="2000", data-output="gearListCount", wrap="virtual")
                = data.gearList
            .label ( #[i#gearListCount] / 2000)

        .ui.submit.button Submit
        .ui.reset.button Reset
        .ui.clear.button Clear
        .ui.delete.button Delete

        .ui.error.message
