include ../../mixins/pagination

extend ../layout

block appContent

    h1 People

    .ui.raised.segment

        table.ui.small.padded.very.basic.selectable.table
            thead
                tr
                    th Nickname
                    th Name
                    th
                    th.center.aligned Child

            tbody
                if !data.docs.length
                    tr: td.center.aligned(colspan='5')
                        .ui.basic.icon.button
                            a(href=createAction)
                                i.plus.icon
                                | Add First Person

                else
                    each row in data.docs
                        tr
                            td(data-label="Nickname")
                                a#row1Link(href=editAction + row.id)
                                    = row.nickName

                            td(data-label="Name")
                                = row.fullName

                            td.right.aligned(data-label="")
                                if row.email
                                    a(href='mailto:' + row.email, title=row.email)
                                        i.large.mail.square.icon
                                if row.phone
                                    a(href='tel:' + row.phone, title=row.phone)
                                        i.large.phone.square.icon

                            td.center.aligned(data-label="Child")
                                if (row.isChild == true)
                                    i.large.child.box.icon(title="Child")

        .ui.basic.clearing.segment
            +pagination(1, data.pages, data.page, '/admin/persons/')

    if data.docs.length
        .row
            .ui.icon.button.left.floated
                a(href=createAction)
                    i.plus.icon
                    | Add Person
