include ../includes/listToolbar

extend ../layout

block toolbar
    +listToolbar

block appContent

    table.ui.padded.fixed.selectable.table

        thead
            tr
                // th Username
                th Name
                th
                th.right.aligned Attributes

        tbody
            if !data.docs.length
                tr: td.center.aligned(colspan='3')
                    .ui.basic.icon.button
                        a(href=createAction)
                            i.plus.icon
                            | Add First Person

            else
                each row in data.docs
                    tr
                        // td(data-label="Username")
                        //     a#row1Link(href=editAction + row.id)
                        //         = row.username

                        td(data-label="Name")
                            a#row1Link(href=editAction + row.id)
                                = row.fullName

                        td.right.aligned(data-label="")
                            if row.email
                                a(href='mailto:' + row.email, title=row.email, data-content='Email #{row.email}')
                                    i.large.mail.square.icon
                            if row.phone
                                a(href='tel:' + row.phone, title=row.phone, data-content='Call #{row.phone}')
                                    i.large.phone.square.icon

                        td.right.aligned(data-label="Attributes")

                            if (row.isChild == true)
                                span.popup(title="Is Child", data-content="Child is #{row.childAge} years old")
                                    i.large.child.box.icon

                            if row._vendor && row._vendor.companyName
                                span.popup(title="Is Vendor", data-content="Vendor for #{row._vendor.companyName}")
                                    i.large.building.outline.icon

                            if row._pet && row._pet.petName
                                span.popup(title="Has Pet", data-content='#{row._pet.petType} "#{row._pet.petName}" is #{row._pet.petWeight}lbs')
                                    i.large.paw.icon
