// Needs:
// searchAPI.js
// $('form').find('#addressSearch').search(googleAddressSearchAndPopulate)
mixin addressFields(address)

    if !address
        -address = {"address1": "","address2": "","city": "","state": "","postalCode": "","country": ""}

    .field.required
        label(for='address1') Address 1 (Search)
        #addressSearch.ui.search
            .ui.icon.input
                input.prompt(type='text', id='address1', name='address[address1]', autocomplete='off', value=address.address1, placeholder='Search for address...')
                i.red.marker.icon

    .field
        label(for='address2') Address 2
        input(type='text', name='address[address2]', id='address2', value=address.address2)

    .fields
        .field.eight.wide.required
            label(for='city') City
            input(type='text', name='address[city]', id='city', value=address.city, required)

        .field.three.wide.required
            label(for='state') State
            input(type='text', name='address[state]', id='state', value=address.state, required)

        .field.five.wide.required
            label(for='postalCode') Zip Code
            input(type='text', name='address[postalCode]', id='postalCode', value=address.postalCode, required)

    .fields
        .field.ten.wide.required
            label(for='country') Country
            #countryField.ui.search.selection.dropdown
                input(type='hidden', name='address[country]', id='country', value=address.country)
                i.dropdown.icon
                input.search(autocomplete='off', tabindex='0', value=address.country)
                .default.text Select Country
                .menu(tabindex='-1')
                   .item(data-value='AD')
                       i.ad.flag
                       | Andorra
                   .item(data-value='AE')
                       i.ae.flag
                       | U.A.E
                   .item(data-value='AF')
                       i.af.flag
                       | Afghanistan
                   .item(data-value='AG')
                       i.ag.flag
                       | Antigua
                   .item(data-value='AI')
                       i.ai.flag
                       | Anguilla
                   .item(data-value='AL')
                       i.al.flag
                       | Albania
                   .item(data-value='AM')
                       i.am.flag
                       | Armenia
                   .item(data-value='AN')
                       i.an.flag
                       | Netherlands Antilles
                   .item(data-value='AO')
                       i.ao.flag
                       | Angola
                   .item(data-value='AR')
                       i.ar.flag
                       | Argentina
                   .item(data-value='AS')
                       i.as.flag
                       | American Samoa
                   .item(data-value='AT')
                       i.at.flag
                       | Austria
                   .item(data-value='AU')
                       i.au.flag
                       | Australia
                   .item(data-value='AW')
                       i.aw.flag
                       | Aruba
                   .item(data-value='AX')
                       i.ax.flag
                       | Aland Islands
                   .item(data-value='AZ')
                       i.az.flag
                       | Azerbaijan
                   .item(data-value='BA')
                       i.ba.flag
                       | Bosnia
                   .item(data-value='BB')
                       i.bb.flag
                       | Barbados
                   .item(data-value='BD')
                       i.bd.flag
                       | Bangladesh
                   .item(data-value='BE')
                       i.be.flag
                       | Belgium
                   .item(data-value='BF')
                       i.bf.flag
                       | Burkina Faso
                   .item(data-value='BG')
                       i.bg.flag
                       | Bulgaria
                   .item(data-value='BH')
                       i.bh.flag
                       | Bahrain
                   .item(data-value='BI')
                       i.bi.flag
                       | Burundi
                   .item(data-value='BJ')
                       i.bj.flag
                       | Benin
                   .item(data-value='BM')
                       i.bm.flag
                       | Bermuda
                   .item(data-value='BN')
                       i.bn.flag
                       | Brunei
                   .item(data-value='BO')
                       i.bo.flag
                       | Bolivia
                   .item(data-value='BR')
                       i.br.flag
                       | Brazil
                   .item(data-value='BS')
                       i.bs.flag
                       | Bahamas
                   .item(data-value='BT')
                       i.bt.flag
                       | Bhutan
                   .item(data-value='BV')
                       i.bv.flag
                       | Bouvet Island
                   .item(data-value='BW')
                       i.bw.flag
                       | Botswana
                   .item(data-value='BY')
                       i.by.flag
                       | Belarus
                   .item(data-value='BZ')
                       i.bz.flag
                       | Belize
                   .item(data-value='CA')
                       i.ca.flag
                       | Canada
                   .item(data-value='CC')
                       i.cc.flag
                       | Cocos Islands
                   .item(data-value='CD')
                       i.cd.flag
                       | Congo
                   .item(data-value='CF')
                       i.cf.flag
                       | Central African Republic
                   .item(data-value='CG')
                       i.cg.flag
                       | Congo Brazzaville
                   .item(data-value='CH')
                       i.ch.flag
                       | Switzerland
                   .item(data-value='CI')
                       i.ci.flag
                       | Cote Divoire
                   .item(data-value='CK')
                       i.ck.flag
                       | Cook Islands
                   .item(data-value='CL')
                       i.cl.flag
                       | Chile
                   .item(data-value='CM')
                       i.cm.flag
                       | Cameroon
                   .item(data-value='CN')
                       i.cn.flag
                       | China
                   .item(data-value='CO')
                       i.co.flag
                       | Colombia
                   .item(data-value='CR')
                       i.cr.flag
                       | Costa Rica
                   .item(data-value='CS')
                       i.cs.flag
                       | Serbia
                   .item(data-value='CU')
                       i.cu.flag
                       | Cuba
                   .item(data-value='CV')
                       i.cv.flag
                       | Cape Verde
                   .item(data-value='CX')
                       i.cx.flag
                       | Christmas Island
                   .item(data-value='CY')
                       i.cy.flag
                       | Cyprus
                   .item(data-value='CZ')
                       i.cz.flag
                       | Czech Republic
                   .item(data-value='DE')
                       i.de.flag
                       | Germany
                   .item(data-value='DJ')
                       i.dj.flag
                       | Djibouti
                   .item(data-value='DK')
                       i.dk.flag
                       | Denmark
                   .item(data-value='DM')
                       i.dm.flag
                       | Dominica
                   .item(data-value='DO')
                       i.do.flag
                       | Dominican Republic
                   .item(data-value='DZ')
                       i.dz.flag
                       | Algeria
                   .item(data-value='EC')
                       i.ec.flag
                       | Ecuador
                   .item(data-value='EE')
                       i.ee.flag
                       | Estonia
                   .item(data-value='EG')
                       i.eg.flag
                       | Egypt
                   .item(data-value='EH')
                       i.eh.flag
                       | Western Sahara
                   .item(data-value='ER')
                       i.er.flag
                       | Eritrea
                   .item(data-value='ES')
                       i.es.flag
                       | Spain
                   .item(data-value='ET')
                       i.et.flag
                       | Ethiopia
                   .item(data-value='EU')
                       i.eu.flag
                       | European Union
                   .item(data-value='FI')
                       i.fi.flag
                       | Finland
                   .item(data-value='FJ')
                       i.fj.flag
                       | Fiji
                   .item(data-value='FK')
                       i.fk.flag
                       | Falkland Islands
                   .item(data-value='FM')
                       i.fm.flag
                       | Micronesia
                   .item(data-value='FO')
                       i.fo.flag
                       | Faroe Islands
                   .item(data-value='FR')
                       i.fr.flag
                       | France
                   .item(data-value='GA')
                       i.ga.flag
                       | Gabon
                   .item(data-value='GB')
                       i.gb.flag
                       | United Kingdom
                   .item(data-value='GD')
                       i.gd.flag
                       | Grenada
                   .item(data-value='GE')
                       i.ge.flag
                       | Georgia
                   .item(data-value='GF')
                       i.gf.flag
                       | French Guiana
                   .item(data-value='GH')
                       i.gh.flag
                       | Ghana
                   .item(data-value='GI')
                       i.gi.flag
                       | Gibraltar
                   .item(data-value='GL')
                       i.gl.flag
                       | Greenland
                   .item(data-value='GM')
                       i.gm.flag
                       | Gambia
                   .item(data-value='GN')
                       i.gn.flag
                       | Guinea
                   .item(data-value='GP')
                       i.gp.flag
                       | Guadeloupe
                   .item(data-value='GQ')
                       i.gq.flag
                       | Equatorial Guinea
                   .item(data-value='GR')
                       i.gr.flag
                       | Greece
                   .item(data-value='GS')
                       i.gs.flag
                       | Sandwich Islands
                   .item(data-value='GT')
                       i.gt.flag
                       | Guatemala
                   .item(data-value='GU')
                       i.gu.flag
                       | Guam
                   .item(data-value='GW')
                       i.gw.flag
                       | Guinea-Bissau
                   .item(data-value='GY')
                       i.gy.flag
                       | Guyana
                   .item(data-value='HK')
                       i.hk.flag
                       | Hong Kong
                   .item(data-value='HM')
                       i.hm.flag
                       | Heard Island
                   .item(data-value='HN')
                       i.hn.flag
                       | Honduras
                   .item(data-value='HR')
                       i.hr.flag
                       | Croatia
                   .item(data-value='HT')
                       i.ht.flag
                       | Haiti
                   .item(data-value='HU')
                       i.hu.flag
                       | Hungary
                   .item(data-value='ID')
                       i.id.flag
                       | Indonesia
                   .item(data-value='IE')
                       i.ie.flag
                       | Ireland
                   .item(data-value='IL')
                       i.il.flag
                       | Israel
                   .item(data-value='IN')
                       i.in.flag
                       | India
                   .item(data-value='IO')
                       i.io.flag
                       | Indian Ocean Territory
                   .item(data-value='IQ')
                       i.iq.flag
                       | Iraq
                   .item(data-value='IR')
                       i.ir.flag
                       | Iran
                   .item(data-value='IS')
                       i.is.flag
                       | Iceland
                   .item(data-value='IT')
                       i.it.flag
                       | Italy
                   .item(data-value='JM')
                       i.jm.flag
                       | Jamaica
                   .item(data-value='JO')
                       i.jo.flag
                       | Jordan
                   .item(data-value='JP')
                       i.jp.flag
                       | Japan
                   .item(data-value='KE')
                       i.ke.flag
                       | Kenya
                   .item(data-value='KG')
                       i.kg.flag
                       | Kyrgyzstan
                   .item(data-value='KH')
                       i.kh.flag
                       | Cambodia
                   .item(data-value='KI')
                       i.ki.flag
                       | Kiribati
                   .item(data-value='KM')
                       i.km.flag
                       | Comoros
                   .item(data-value='KN')
                       i.kn.flag
                       | Saint Kitts and Nevis
                   .item(data-value='KP')
                       i.kp.flag
                       | North Korea
                   .item(data-value='KR')
                       i.kr.flag
                       | South Korea
                   .item(data-value='KW')
                       i.kw.flag
                       | Kuwait
                   .item(data-value='KY')
                       i.ky.flag
                       | Cayman Islands
                   .item(data-value='KZ')
                       i.kz.flag
                       | Kazakhstan
                   .item(data-value='LA')
                       i.la.flag
                       | Laos
                   .item(data-value='LB')
                       i.lb.flag
                       | Lebanon
                   .item(data-value='LC')
                       i.lc.flag
                       | Saint Lucia
                   .item(data-value='LI')
                       i.li.flag
                       | Liechtenstein
                   .item(data-value='LK')
                       i.lk.flag
                       | Sri Lanka
                   .item(data-value='LR')
                       i.lr.flag
                       | Liberia
                   .item(data-value='LS')
                       i.ls.flag
                       | Lesotho
                   .item(data-value='LT')
                       i.lt.flag
                       | Lithuania
                   .item(data-value='LU')
                       i.lu.flag
                       | Luxembourg
                   .item(data-value='LV')
                       i.lv.flag
                       | Latvia
                   .item(data-value='LY')
                       i.ly.flag
                       | Libya
                   .item(data-value='MA')
                       i.ma.flag
                       | Morocco
                   .item(data-value='MC')
                       i.mc.flag
                       | Monaco
                   .item(data-value='MD')
                       i.md.flag
                       | Moldova
                   .item(data-value='ME')
                       i.me.flag
                       | Montenegro
                   .item(data-value='MG')
                       i.mg.flag
                       | Madagascar
                   .item(data-value='MH')
                       i.mh.flag
                       | Marshall Islands
                   .item(data-value='MK')
                       i.mk.flag
                       | MacEdonia
                   .item(data-value='ML')
                       i.ml.flag
                       | Mali
                   .item(data-value='AR')
                       i.ar.flag
                       | Burma
                   .item(data-value='MN')
                       i.mn.flag
                       | Mongolia
                   .item(data-value='MO')
                       i.mo.flag
                       | MacAu
                   .item(data-value='MP')
                       i.mp.flag
                       | Northern Mariana Islands
                   .item(data-value='MQ')
                       i.mq.flag
                       | Martinique
                   .item(data-value='MR')
                       i.mr.flag
                       | Mauritania
                   .item(data-value='MS')
                       i.ms.flag
                       | Montserrat
                   .item(data-value='MT')
                       i.mt.flag
                       | Malta
                   .item(data-value='MU')
                       i.mu.flag
                       | Mauritius
                   .item(data-value='MV')
                       i.mv.flag
                       | Maldives
                   .item(data-value='MW')
                       i.mw.flag
                       | Malawi
                   .item(data-value='MX')
                       i.mx.flag
                       | Mexico
                   .item(data-value='MY')
                       i.my.flag
                       | Malaysia
                   .item(data-value='MZ')
                       i.mz.flag
                       | Mozambique
                   .item(data-value='NA')
                       i.na.flag
                       | Namibia
                   .item(data-value='NC')
                       i.nc.flag
                       | New Caledonia
                   .item(data-value='NE')
                       i.ne.flag
                       | Niger
                   .item(data-value='NF')
                       i.nf.flag
                       | Norfolk Island
                   .item(data-value='NG')
                       i.ng.flag
                       | Nigeria
                   .item(data-value='NI')
                       i.ni.flag
                       | Nicaragua
                   .item(data-value='NL')
                       i.nl.flag
                       | Netherlands
                   .item(data-value='NO')
                       i.no.flag
                       | Norway
                   .item(data-value='NP')
                       i.np.flag
                       | Nepal
                   .item(data-value='NR')
                       i.nr.flag
                       | Nauru
                   .item(data-value='NU')
                       i.nu.flag
                       | Niue
                   .item(data-value='NZ')
                       i.nz.flag
                       | New Zealand
                   .item(data-value='OM')
                       i.om.flag
                       | Oman
                   .item(data-value='PA')
                       i.pa.flag
                       | Panama
                   .item(data-value='PE')
                       i.pe.flag
                       | Peru
                   .item(data-value='PF')
                       i.pf.flag
                       | French Polynesia
                   .item(data-value='PG')
                       i.pg.flag
                       | New Guinea
                   .item(data-value='PH')
                       i.ph.flag
                       | Philippines
                   .item(data-value='PK')
                       i.pk.flag
                       | Pakistan
                   .item(data-value='PL')
                       i.pl.flag
                       | Poland
                   .item(data-value='PM')
                       i.pm.flag
                       | Saint Pierre
                   .item(data-value='PN')
                       i.pn.flag
                       | Pitcairn Islands
                   .item(data-value='PR')
                       i.pr.flag
                       | Puerto Rico
                   .item(data-value='PS')
                       i.ps.flag
                       | Palestine
                   .item(data-value='PT')
                       i.pt.flag
                       | Portugal
                   .item(data-value='PW')
                       i.pw.flag
                       | Palau
                   .item(data-value='PY')
                       i.py.flag
                       | Paraguay
                   .item(data-value='QA')
                       i.qa.flag
                       | Qatar
                   .item(data-value='RE')
                       i.re.flag
                       | Reunion
                   .item(data-value='RO')
                       i.ro.flag
                       | Romania
                   .item(data-value='RS')
                       i.rs.flag
                       | Serbia
                   .item(data-value='RU')
                       i.ru.flag
                       | Russia
                   .item(data-value='RW')
                       i.rw.flag
                       | Rwanda
                   .item(data-value='SA')
                       i.sa.flag
                       | Saudi Arabia
                   .item(data-value='SB')
                       i.sb.flag
                       | Solomon Islands
                   .item(data-value='SC')
                       i.sc.flag
                       | Seychelles
                   .item(data-value='SD')
                       i.sd.flag
                       | Sudan
                   .item(data-value='SE')
                       i.se.flag
                       | Sweden
                   .item(data-value='SG')
                       i.sg.flag
                       | Singapore
                   .item(data-value='SH')
                       i.sh.flag
                       | Saint Helena
                   .item(data-value='SI')
                       i.si.flag
                       | Slovenia
                   .item(data-value='SJ')
                       i.sj.flag
                       | Svalbard, I Flag Jan Mayen
                   .item(data-value='SK')
                       i.sk.flag
                       | Slovakia
                   .item(data-value='SL')
                       i.sl.flag
                       | Sierra Leone
                   .item(data-value='SM')
                       i.sm.flag
                       | San Marino
                   .item(data-value='SN')
                       i.sn.flag
                       | Senegal
                   .item(data-value='SO')
                       i.so.flag
                       | Somalia
                   .item(data-value='SR')
                       i.sr.flag
                       | Suriname
                   .item(data-value='ST')
                       i.st.flag
                       | Sao Tome
                   .item(data-value='SV')
                       i.sv.flag
                       | El Salvador
                   .item(data-value='SY')
                       i.sy.flag
                       | Syria
                   .item(data-value='SZ')
                       i.sz.flag
                       | Swaziland
                   .item(data-value='TC')
                       i.tc.flag
                       | Caicos Islands
                   .item(data-value='TD')
                       i.td.flag
                       | Chad
                   .item(data-value='TF')
                       i.tf.flag
                       | French Territories
                   .item(data-value='TG')
                       i.tg.flag
                       | Togo
                   .item(data-value='TH')
                       i.th.flag
                       | Thailand
                   .item(data-value='TJ')
                       i.tj.flag
                       | Tajikistan
                   .item(data-value='TK')
                       i.tk.flag
                       | Tokelau
                   .item(data-value='TL')
                       i.tl.flag
                       | Timorleste
                   .item(data-value='TM')
                       i.tm.flag
                       | Turkmenistan
                   .item(data-value='TN')
                       i.tn.flag
                       | Tunisia
                   .item(data-value='TO')
                       i.to.flag
                       | Tonga
                   .item(data-value='TR')
                       i.tr.flag
                       | Turkey
                   .item(data-value='TT')
                       i.tt.flag
                       | Trinidad
                   .item(data-value='TV')
                       i.tv.flag
                       | Tuvalu
                   .item(data-value='TW')
                       i.tw.flag
                       | Taiwan
                   .item(data-value='TZ')
                       i.tz.flag
                       | Tanzania
                   .item(data-value='UA')
                       i.ua.flag
                       | Ukraine
                   .item(data-value='UG')
                       i.ug.flag
                       | Uganda
                   .item(data-value='UM')
                       i.um.flag
                       | Us Minor Islands
                   .item(data-value='US')
                       i.us.flag
                       | United States
                   .item(data-value='UY')
                       i.uy.flag
                       | Uruguay
                   .item(data-value='UZ')
                       i.uz.flag
                       | Uzbekistan
                   .item(data-value='VA')
                       i.va.flag
                       | Vatican City
                   .item(data-value='VC')
                       i.vc.flag
                       | Saint Vincent
                   .item(data-value='VE')
                       i.ve.flag
                       | Venezuela
                   .item(data-value='VG')
                       i.vg.flag
                       | British Virgin Islands
                   .item(data-value='VI')
                       i.vi.flag
                       | Us Virgin Islands
                   .item(data-value='VN')
                       i.vn.flag
                       | Vietnam
                   .item(data-value='VU')
                       i.vu.flag
                       | Vanuatu
                   .item(data-value='WF')
                       i.wf.flag
                       | Wallis and Futuna
                   .item(data-value='WS')
                       i.ws.flag
                       | Samoa
                   .item(data-value='YE')
                       i.ye.flag
                       | Yemen
                   .item(data-value='YT')
                       i.yt.flag
                       | Mayotte
                   .item(data-value='ZA')
                       i.za.flag
                       | South Africa
                   .item(data-value='ZM')
                       i.zm.flag
                       | Zambia
                   .item(data-value='ZW')
                       i.zw.flag
                       | Zimbabwe